<div id="FooterImage" align="left">
    
      <img id="FooterImg" src="assets/img/Footer.png" class="inline">
      <div id="FooterSocial" align="left">
        <a href="https://twitter.com/tokozaan" class="fa fa-twitter"></a>  
        <a href="https://www.instagram.com/tokozaan" class="fa fa-instagram"></a>
        <a href="https://www.linkedin.com/in/herman-nel-92b1bb82/" class="fa fa-linkedin"></a>
        <a href="mailto:tokozaan@icloud.com?Subject=Tokozaan%20enquiries" target="_top"class="fa fa-envelope"></a>
      </div> 
  </div> 