@import '~font-awesome/css/font-awesome.css';
/* Top Nav bar Styling */


#HeaderImg {
    float: left;
}
#HeaderImage {
    width: 150px;
    padding: 5px 5px;
}

.button {
    
    background-color: #80e5ff;    
      font-family:"Century Gothic", Times, serif;
      color: #808080;
      text-align: center;
      padding: 10px 10px;
      text-decoration: none;
      font-size: 17px;
      border-radius: 10px;
      border-style: solid;
      border-color: #808080;
      margin: 2px;
      
  }
.button:hover {
      background-color: #808080;
      color: #80e5ff;
      border-radius: 5px;
      border-style: solid;
      border-color: #80e5ff;
      
  }
.button:active {
      background-color: #808080;
      color: #80e5ff;
      border-radius: 5px;
      border-style: solid;
      border-color: #80e5ff;
  }
.fa {
    padding: 10px;
    font-size: 30px;

    text-align: center;
    text-decoration: none;
    color: #808080;
    
  }

.fa:active {
    color: #80e5ff;
  
}
ul {
    list-style-type: none;
    }
table {
    border-collapse:collapse;
}
tr {
    border-bottom:solid;
    border-bottom-color: #808080;

}