#HeaderImage {
    width:100%;
    position: absolute;
}
#HeaderImage.img {
    position: relative;   
    display: block;
    float: left;
}
#HeaderImg {
    width: 300px; 
    object-fit: contain;
}